<div class="container">
  <div class="form">
    <% unless @user.errors.none? %>
      <% @user.errors.full_messages.each do |msg| %> 
      <%= msg %>
      <% end %>
    <% end %>

    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %></br>
      <%= f.label :email %>
      <%= f.email_field :email %></br>
      <%= f.label :password %>
      <%= f.password_field :password %></br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %> 
      <%= f.submit %>
    <% end %>
  </div>
</div>
