<div class="container">

  <h1><%= "Welcome, #{@user.username}!" %></h1>

    <div class="container">
     <div class="form">
        <%= form_tag searches_path, :method => :get do %>   
            <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
            <%= submit_tag "Go", :name => nil %>  
        <% end %>  
      </div> 
    </div>


  <ul>
    <li>your favorites:</li>
    <% @user.favorites.each do |favorite| %>
      <%= form_tag searches_path(current_user), :method => :get do %>
      <%= submit_tag "#{favorite.address}", :name => :address  %>
    <% end %>
    <% end %>
  </ul>

</div>

