<div class="container">

<div class="results">
  <%  unless @coordinates.nil? %>
  <ul>
    <li><h3><%= "Closest dock: "%></h3></li>
    <li><h3><%="#{@winning_dock} has #{@winning_dock_available_docks } dock(s) available. Huzzah!!" %></h3></li>
  </ul>
  <% end  %>
</div>


 <div class="form">
    <%= form_tag user_favorites_path(current_user), :method => :post do %>
    <%= hidden_field_tag "favorite[address]", params[:address]%>
    <%= submit_tag "Save Search to Favorites!" %>
    <% end %>
</div>


<h1>Find docks near your destination:</h1>  

 <div class="form">
    <%= form_tag searches_path, :method => :get do %>   
    <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
    <%= submit_tag "Go", :name => nil %>  
    <% end %>  
</div>

<ul>
  <li><h3><%= link_to "New Search", searches_path %></h3></li>
  <li><h3><%= link_to "Go to Favorites", user_path(current_user) %></h3></li>
</ul>






